.gt-container .gt-header-textarea {
    font-family: "Inter","Source Han Sans SC","Noto Sans CJK SC",source-han-sans-cjk-sc,sans-serif !important;
    background-color: #242424 !important;
    color: #f8f8f8 !important;
    border: 1px solid rgba(200,200,200,0.1) !important;
}

.gt-container .gt-header-textarea:hover {
    background-color: #363636 !important;
}

.gt-container .gt-btn-preview {
    background-color: #363636 !important;
}
