html.dark body {
  color: rgba(255,255,255,0.6);;
  background-color: #292929;
}

html.dark hr {
    border-color: #333;
}

html.dark ::-moz-selection {
  background: #7A6000
  color: #fff;
  text-shadow: none
}

blockquote {
	border-color: #ddd;
}

html.dark ::selection {
  background: #7A6000;
  color: #fff;
  text-shadow: none
}

html.dark hr {
  border-color: #333;
}

html.dark blockquote {
  border-color: #ddd;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: rgba(255,255,255,0.87);
}

html.dark a,html.dark a:hover {
	color: rgba(255,255,255,0.87);
	text-decoration: none;
}

html.dark .site-title a {
	color: rgba(255,255,255,0.87);
	text-decoration: none !important;
}

table tbody tr:nth-of-type(even) {
html.dark a,a:hover {
  color: rgba(255,255,255,0.87);
  text-decoration: none;
}

html.dark table tbody tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.15);
}

html.dark .site-description a,
html.dark .site-description a:hover {
  color: #ddd;
  text-decoration: underline;
}

html.dark a:hover {
  opacity: 0.8;
}

html.dark .post-tags .tags a {
  border: 1px solid #ddd;
  color: #ddd;
}

html.dark .site-title a {
  color: #ddd;
  text-decoration: none !important;
}

html.dark .header nav,
html.dark .footer {
  border-color: #333;
}

html.dark .highlight {
  background-color: #333;
}

html.dark .social-links a {
    color: rgba(255,206,5,0.7);
}
html.dark .social-links a:hover {
    color: rgba(255,255,255,0.6);
}

html.dark .post-header .matter .meta .date {
    color: rgba(255,255,255,0.3)
}

html.dark div.notices p {
    color: rgba(0,0,0,0.74);
}

html.dark div.notices p:first-child:before {
    color: rgba(0,0,0,1);
}

html.dark div.notices p:first-child:after {
    color: rgba(0,0,0,1);
}

html.dark div.notices.info p {
    border-top: 30px solid rgba(240, 179, 126,0.7);
    background: rgba(255, 232, 219, 0.7);
}

html.dark div.notices.warning p {
    border-top: 30px solid rgba(182, 75, 72, 0.7);
    background: rgba(250, 226, 226, 0.7);
}

html.dark div.notices.note p {
    border-top: 30px solid rgba(106, 176, 222, 0.7);
    background: rgba(231, 242, 250, 0.7);
}

html.dark div.notices.tip p {
    border-top: 30px solid rgba(82, 156, 82, 0.7);
    background: rgba(230, 249, 230, 0.7);
}
