@font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style:  normal;
    font-weight: 400;
    src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2") format("woff2"),
         url("https://rsms.me/inter/font-files/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style:  normal;
    font-weight: 500;
    src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2") format("woff2"),
         url("https://rsms.me/inter/font-files/Inter-Medium.woff") format("woff");
}

table::-webkit-scrollbar
{
    width:6px;
    height:6px;
    background-color:#F5F5F5;
}
table::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    border-radius:0px;
    background-color:#F5F5F5;
}
table::-webkit-scrollbar-thumb
{
    border-radius:0px;
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);
    background-color:#666;
}

body {
    font: 400 16px/1.6 "Inter",source-han-sans-cjk-sc,sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    color: #4c4c4c;
}

a {
    color: #000;
    text-decoration: none;
    word-break: break-word;
}
    a:hover {
        border-bottom: 1.5px solid #ffce05;
    }

html,button,input,select,textarea {
    color: #333;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border:none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

table {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  margin-bottom: 1rem;
  overflow-x: auto;
}

table th,
table td {
  border-bottom: 1px solid rgba(255,255,255,0.87);
  padding: 0.75rem;
  vertical-align: top;
  text-align: left;
}

table thead th {
  border-bottom: 2px solid rgba(255,255,255,0.87);
  vertical-align: bottom;
}

table tbody + tbody {
  border-top: 2px solid rgba(255,255,255,0.87);
}

table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.15);
}

table th {
  background-color: #4c4c4c;
  border-color: #32383e;
  color: #fff;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: #ffce05;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: normal;
    line-height: 1.3em;
}

h1, h2, h3 {
    margin: 30px 0 30px 0;
}

h4, h5, h6 {
    margin: 15px 0 15px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.post ul {
    padding-left: 15px;
    list-style: disc inside;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.smaller {
    font-size: 70%;
}

.post ul li {
    margin-bottom: 2px;
}

.post ol li {
    margin-bottom: 2px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
}

.highlight {
    background: 0 0;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin-top: 30px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header .avatar {
    float: left;
    margin: -25px 20px 0 0;
}
.header .avatar img {
    width: 64px;
    height: 64x;
    overflow: hidden;
    border-radius: 100%;
}
.header .site-title {
    margin: 0 0 10px 0;
    font-family: "JetBrainsMono", monospace;
    line-height: 0.2em;
}
    .site-title a {
        color: #333;
        text-decoration: none !important;
    }
    .site-title a:hover {
        border-bottom-width: 0px;
    }

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header nav {
    padding-top: 15px;
}

.header nav ul,
.header nav li {
    margin: 0;
    padding: 0;
}

.header nav li {
    display: inline-block;
    list-style: none;
    margin: 0 30px 0 0;
}

.social-media-list {
    display: table;
    list-style: none;
    margin: 0 auto;
}

.social-media-list li {
    font-size: 18px;
    float: left;
    margin: 0 12px;
}

.social-media-list svg {
    max-height: 15px;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle {
    height: 100%;
}

.header .site-description .scheme-toggle a svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle a.dark svg {
    fill: rgba(255,206,5,0.7);
    color: rgba(255,206,5,0.7);
}

.header .site-description .scheme-toggle a.light svg {
    fill: grey;
    color: black;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.post-header {
    display: flex;
}

.post-header .matter .meta .date {
    font: 400 16px/1.6 "Inter","Source Han Sans SC","Noto Sans CJK SC",source-han-sans-cjk-sc,sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    color: #7f7f7f;
}

.post-header .meta {
    margin-bottom: 5px;
    margin-left: 0;
}

.post-header h1.title {
    font-size: 1.4em;
    margin: -10px 0 0 0;
}

.post .title.small {
    margin: -10px 0 0 0;
}
.post .post-header {
    margin-bottom: 5px;
}

.post .draft-label {
    color: #ffce05;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post .tags a {
    display: inline-block;
    border: 1.5px solid #ffce05;
    border-radius: 10px;
    background-color: #FFFBEB;
    padding: 0px 6px;
    color: #ffce05;
    line-height: 20px;
    font-weight: 500;
    font-size: 0.85em;
    text-decoration: none;
    margin-right: 0px;
}

div.meta .tags ul > li{
    display: inline-block;
    margin-right: 3px;
}

.tag-cloud a {
    display: inline-block;
    border: 1.5px solid #ffce05;
    border-radius: 20px;
    background-color: #FFFBEB;
    padding: 0px 10px 6px 10px;
    color: #ffce05;
    line-height: 20px;
    font-weight: 500;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 10px 0;
}

.tag-cloud {
    margin-top: 20px;
}

.footer {
    text-align: center;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    margin-top: 40px;
    padding: 15px 0;
}
    .footer a {
        color: #4c4c4c;
    }
    .footer a:hover {
        color: #ffce05;
    }

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

@media (max-width: 900px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }

    .header .nav.social li {
        margin: 0;
    }
    .header .nav li {
        margin: 0 10px 0 0;
        font-size: 0.875em;
    }

    table {
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
      display: block;
      overflow-x: auto;
      width: 100%;
    }
}

.sidebar ul {
    padding-left: 1em;
    list-style: disc outside;
}

.sidebar ul ul {
    list-style: circle outside;
}

.sidebar li {
    font-size: 14px;
}

.sidebar h4 {
    font-weight: normal;
}

@media screen and (min-width: 900px) {
    .sidebar {
        display: block;
        float: right;
        position: sticky;
        width: 180px;
        top: 90px;
        /* background: rgba(0,0,0,0.05); */
        /* border-radius: 10px; */
        /* border-style: solid; */
        /* border-color: rgba(255, 200, 5, 0.5); */
        /* padding: 5px; */
    }
    .sidebar a {
        color: #4c4c4c;
    }
    .post {
        max-width: calc(100% - 180px - 30px);
    }
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

div.notices {
    margin: 2rem 0;
    position: relative;
    max-width: 100%;
}
div.notices p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}
div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Menlo";
    font-weight: 900;
    content: ">";
    left: 10px;
}
div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    left: 2rem;
}
div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.note p {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.note p:first-child:after {
    content: 'Note';
}
div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}

code {
    font-family: "JetBrainsMono", monospace;
    /* background: #f0f0f0; */
    /* border-radius: 3px; */
}


/* /1* Background *1/ .chroma { color: #4d4d4d; background-color: #ffffff } */
/* /1* Error *1/ .chroma .err { color: #ffffff; background-color: #cc0000 } */
/* /1* LineTableTD *1/ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; } */
/* /1* LineTable *1/ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; } */
/* /1* LineHighlight *1/ .chroma .hl { display: block; width: 100%;background-color: #ffffcc } */
/* /1* LineNumbersTable *1/ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f } */
/* /1* LineNumbers *1/ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f } */
/* /1* Keyword *1/ .chroma .k { color: #2c5dcd; font-weight: bold } */
/* /1* KeywordConstant *1/ .chroma .kc { color: #2c5dcd; font-weight: bold } */
/* /1* KeywordDeclaration *1/ .chroma .kd { color: #2c5dcd; font-weight: bold } */
/* /1* KeywordNamespace *1/ .chroma .kn { color: #2c5dcd; font-weight: bold } */
/* /1* KeywordPseudo *1/ .chroma .kp { color: #2c5dcd } */
/* /1* KeywordReserved *1/ .chroma .kr { color: #2c5dcd; font-weight: bold } */
/* /1* KeywordType *1/ .chroma .kt { color: #5918bb; font-weight: bold } */
/* /1* NameAttribute *1/ .chroma .na { color: #2c5dcd; font-style: italic } */
/* /1* NameBuiltin *1/ .chroma .nb { color: #5918bb; font-weight: bold } */
/* /1* NameClass *1/ .chroma .nc { text-decoration: underline } */
/* /1* NameConstant *1/ .chroma .no { color: #318495 } */
/* /1* NameDecorator *1/ .chroma .nd { color: #ff8000; font-weight: bold } */
/* /1* NameEntity *1/ .chroma .ni { color: #5918bb; font-weight: bold } */
/* /1* NameException *1/ .chroma .ne { color: #5918bb; font-weight: bold } */
/* /1* NameFunction *1/ .chroma .nf { color: #ff8000; font-weight: bold } */
/* /1* NameTag *1/ .chroma .nt { color: #2c5dcd; font-weight: bold } */
/* /1* LiteralString *1/ .chroma .s { color: #00cc66 } */
/* /1* LiteralStringAffix *1/ .chroma .sa { color: #00cc66 } */
/* /1* LiteralStringBacktick *1/ .chroma .sb { color: #00cc66 } */
/* /1* LiteralStringChar *1/ .chroma .sc { color: #00cc66 } */
/* /1* LiteralStringDelimiter *1/ .chroma .dl { color: #00cc66 } */
/* /1* LiteralStringDoc *1/ .chroma .sd { color: #00cc66; font-style: italic } */
/* /1* LiteralStringDouble *1/ .chroma .s2 { color: #00cc66 } */
/* /1* LiteralStringEscape *1/ .chroma .se { color: #c5060b; font-weight: bold } */
/* /1* LiteralStringHeredoc *1/ .chroma .sh { color: #00cc66 } */
/* /1* LiteralStringInterpol *1/ .chroma .si { color: #00cc66 } */
/* /1* LiteralStringOther *1/ .chroma .sx { color: #318495 } */
/* /1* LiteralStringRegex *1/ .chroma .sr { color: #00cc66 } */
/* /1* LiteralStringSingle *1/ .chroma .s1 { color: #00cc66 } */
/* /1* LiteralStringSymbol *1/ .chroma .ss { color: #c5060b; font-weight: bold } */
/* /1* LiteralNumber *1/ .chroma .m { color: #5918bb; font-weight: bold } */
/* /1* LiteralNumberBin *1/ .chroma .mb { color: #5918bb; font-weight: bold } */
/* /1* LiteralNumberFloat *1/ .chroma .mf { color: #5918bb; font-weight: bold } */
/* /1* LiteralNumberHex *1/ .chroma .mh { color: #5918bb; font-weight: bold } */
/* /1* LiteralNumberInteger *1/ .chroma .mi { color: #5918bb; font-weight: bold } */
/* /1* LiteralNumberIntegerLong *1/ .chroma .il { color: #5918bb; font-weight: bold } */
/* /1* LiteralNumberOct *1/ .chroma .mo { color: #5918bb; font-weight: bold } */
/* /1* Operator *1/ .chroma .o { color: #2c5dcd } */
/* /1* OperatorWord *1/ .chroma .ow { color: #2c5dcd; font-weight: bold } */
/* /1* Comment *1/ .chroma .c { color: #0080ff; font-style: italic } */
/* /1* CommentHashbang *1/ .chroma .ch { color: #0080ff; font-style: italic } */
/* /1* CommentMultiline *1/ .chroma .cm { color: #0080ff; font-style: italic } */
/* /1* CommentSingle *1/ .chroma .c1 { color: #0080ff; font-style: italic } */
/* /1* CommentSpecial *1/ .chroma .cs { color: #0080ff; font-weight: bold; font-style: italic } */
/* /1* CommentPreproc *1/ .chroma .cp { color: #0080ff } */
/* /1* CommentPreprocFile *1/ .chroma .cpf { color: #0080ff } */
/* /1* GenericDeleted *1/ .chroma .gd { background-color: #ffcccc } */
/* /1* GenericEmph *1/ .chroma .ge { font-style: italic } */
/* /1* GenericError *1/ .chroma .gr { color: #ff0000 } */
/* /1* GenericHeading *1/ .chroma .gh { color: #2c5dcd; font-weight: bold } */
/* /1* GenericInserted *1/ .chroma .gi { background-color: #ccffcc } */
/* /1* GenericOutput *1/ .chroma .go { color: #aaaaaa } */
/* /1* GenericPrompt *1/ .chroma .gp { color: #2c5dcd; font-weight: bold } */
/* /1* GenericStrong *1/ .chroma .gs { font-weight: bold } */
/* /1* GenericSubheading *1/ .chroma .gu { color: #2c5dcd; font-weight: bold } */
/* /1* GenericTraceback *1/ .chroma .gt { color: #c5060b } */
/* /1* GenericUnderline *1/ .chroma .gl { text-decoration: underline } */
/* /1* TextWhitespace *1/ .chroma .w { color: #cbcbcb } */
