@font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style:  normal;
    font-weight: 400;
    src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2") format("woff2"),
         url("https://rsms.me/inter/font-files/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style:  normal;
    font-weight: 500;
    src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2") format("woff2"),
         url("https://rsms.me/inter/font-files/Inter-Medium.woff") format("woff");
}

table::-webkit-scrollbar
{
    width:6px;
    height:6px;
    background-color:#F5F5F5;
}
table::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
    border-radius:0px;
    background-color:#F5F5F5;
}
table::-webkit-scrollbar-thumb
{
    border-radius:0px;
    -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);
    background-color:#666;
}

body {
    font: 400 15px/1.4 "Inter","Source Han Sans SC","Noto Sans CJK SC",source-han-sans-cjk-sc,sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    color: #4c4c4c;
}

a {
    color: #000;
    text-decoration: none;
    word-break: break-word;
}
    a:hover {
        border-bottom: 1.5px solid #ffce05;
    }

html,button,input,select,textarea {
    color: #333;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border:none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

table {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  margin-bottom: 1rem;
  overflow-x: auto;
}

table th,
table td {
  border-bottom: 1px solid rgba(255,255,255,0.87);
  padding: 0.75rem;
  vertical-align: top;
  text-align: left;
}

table thead th {
  border-bottom: 2px solid rgba(255,255,255,0.87);
  vertical-align: bottom;
}

table tbody + tbody {
  border-top: 2px solid rgba(255,255,255,0.87);
}

table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.15);
}

table th {
  background-color: #4c4c4c;
  border-color: #32383e;
  color: #fff;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: #ffce05;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 500;
    line-height: 1.3em;
    margin: 30px 0 20px 0;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

ul {
    padding-left: 15px;
}

ul {
    list-style: disc inside;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.smaller {
    font-size: 70%;
}

.post ul li {
    margin-bottom: 5px;
}

.post ol li {
    margin-bottom: 5px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
}

.highlight {
    background: 0 0;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin-top: 30px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header .avatar {
    float: left;
    margin: -25px 20px 0 0;
}
.header .avatar img {
    width: 64px;
    height: 64x;
    overflow: hidden;
    border-radius: 100%;
}
.header .site-title {
    margin: 0 0 10px 0;
    font-family: "JetBrainsMono", monospace;
    line-height: 0.2em;
}
    .site-title a {
        color: #333;
        text-decoration: none !important;
    }
    .site-title a:hover {
        border-bottom-width: 0px;
    }

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header nav {
    padding-top: 15px;
}

.header nav ul,
.header nav li {
    margin: 0;
    padding: 0;
}

.header nav li {
    display: inline-block;
    list-style: none;
    margin: 0 30px 0 0;
}

.social-media-list {
    display: table;
    list-style: none;
    margin: 0 auto;
}

.social-media-list li {
    font-size: 18px;
    float: left;
    margin: 0 12px;
}

.social-media-list svg {
    max-height: 15px;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle {
    height: 100%;
}

.header .site-description .scheme-toggle a svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle a.dark svg {
    fill: rgba(255,206,5,0.7);
    color: rgba(255,206,5,0.7);
}

.header .site-description .scheme-toggle a.light svg {
    fill: grey;
    color: black;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.post-header {
    display: flex;
}

.post-header .matter .meta .date {
    font: 400 16px/1.6 "Inter","Source Han Sans SC","Noto Sans CJK SC",source-han-sans-cjk-sc,sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    color: #7f7f7f;
}

.post-header .meta {
    margin-bottom: 5px;
    margin-left: 0;
}

.post-header h1.title {
    font-size: 1.4em;
    margin: -10px 0 0 0;
}

.post .title.small {
    margin: -10px 0 0 0;
}
.post .post-header {
    margin-bottom: 30px;
}

.post .draft-label {
    color: #ffce05;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post .tags a {
    display: inline-block;
    border: 1.5px solid #ffce05;
    border-radius: 3px;
    padding: 0px 6px;
    color: #ffce05;
    line-height: 20px;
    font-weight: 500;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 0px 0;
}

.tag-cloud a {
    display: inline-block;
    border: 1.5px solid #ffce05;
    border-radius: 3px;
    padding: 0px 6px 6px 6px;
    color: #ffce05;
    line-height: 20px;
    font-weight: 500;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 10px 0;
}

.footer {
    text-align: center;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    margin-top: 40px;
    padding: 15px 0;
}
    .footer a {
        color: #4c4c4c;
    }
    .footer a:hover {
        color: #ffce05;
    }

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

@media (max-width: 900px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }

    .header .nav.social li {
        margin: 0;
    }
    .header .nav li {
        margin: 0 10px 0 0;
        font-size: 0.875em;
    }

    table {
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
      display: block;
      overflow-x: auto;
      width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .sidebar {
        display: block;
        float: right;
        position: sticky;
        width: 180px;
    }
    /* .sidebar ul { */
    /*     padding-left: 15px; */
    /*     padding-right: 15px; */
    /*     max-width: 180px; */
    /*     position: fixed; */
    /* } */
    .sidebar a {
        color: #4c4c4c;
    }
    .markdown {
        max-width: calc(100% - 180px - 30px)
    }
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

div.notices {
    margin: 2rem 0;
    position: relative;
    max-width: 100%;
}
div.notices p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}
div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "Menlo";
    font-weight: 900;
    content: ">";
    left: 10px;
}
div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    left: 2rem;
}
div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.note p {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.note p:first-child:after {
    content: 'Note';
}
div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}

code {
    font-family: "JetBrainsMono", monospace;
}


/* Background */ .chroma { color: #4d4d4d; background-color: #ffffff }
/* Error */ .chroma .err { color: #ffffff; background-color: #cc0000 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #2c5dcd; font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: #2c5dcd; font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: #2c5dcd; font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: #2c5dcd; font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: #2c5dcd }
/* KeywordReserved */ .chroma .kr { color: #2c5dcd; font-weight: bold }
/* KeywordType */ .chroma .kt { color: #5918bb; font-weight: bold }
/* NameAttribute */ .chroma .na { color: #2c5dcd; font-style: italic }
/* NameBuiltin */ .chroma .nb { color: #5918bb; font-weight: bold }
/* NameClass */ .chroma .nc { text-decoration: underline }
/* NameConstant */ .chroma .no { color: #318495 }
/* NameDecorator */ .chroma .nd { color: #ff8000; font-weight: bold }
/* NameEntity */ .chroma .ni { color: #5918bb; font-weight: bold }
/* NameException */ .chroma .ne { color: #5918bb; font-weight: bold }
/* NameFunction */ .chroma .nf { color: #ff8000; font-weight: bold }
/* NameTag */ .chroma .nt { color: #2c5dcd; font-weight: bold }
/* LiteralString */ .chroma .s { color: #00cc66 }
/* LiteralStringAffix */ .chroma .sa { color: #00cc66 }
/* LiteralStringBacktick */ .chroma .sb { color: #00cc66 }
/* LiteralStringChar */ .chroma .sc { color: #00cc66 }
/* LiteralStringDelimiter */ .chroma .dl { color: #00cc66 }
/* LiteralStringDoc */ .chroma .sd { color: #00cc66; font-style: italic }
/* LiteralStringDouble */ .chroma .s2 { color: #00cc66 }
/* LiteralStringEscape */ .chroma .se { color: #c5060b; font-weight: bold }
/* LiteralStringHeredoc */ .chroma .sh { color: #00cc66 }
/* LiteralStringInterpol */ .chroma .si { color: #00cc66 }
/* LiteralStringOther */ .chroma .sx { color: #318495 }
/* LiteralStringRegex */ .chroma .sr { color: #00cc66 }
/* LiteralStringSingle */ .chroma .s1 { color: #00cc66 }
/* LiteralStringSymbol */ .chroma .ss { color: #c5060b; font-weight: bold }
/* LiteralNumber */ .chroma .m { color: #5918bb; font-weight: bold }
/* LiteralNumberBin */ .chroma .mb { color: #5918bb; font-weight: bold }
/* LiteralNumberFloat */ .chroma .mf { color: #5918bb; font-weight: bold }
/* LiteralNumberHex */ .chroma .mh { color: #5918bb; font-weight: bold }
/* LiteralNumberInteger */ .chroma .mi { color: #5918bb; font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma .il { color: #5918bb; font-weight: bold }
/* LiteralNumberOct */ .chroma .mo { color: #5918bb; font-weight: bold }
/* Operator */ .chroma .o { color: #2c5dcd }
/* OperatorWord */ .chroma .ow { color: #2c5dcd; font-weight: bold }
/* Comment */ .chroma .c { color: #0080ff; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #0080ff; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #0080ff; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #0080ff; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #0080ff; font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #0080ff }
/* CommentPreprocFile */ .chroma .cpf { color: #0080ff }
/* GenericDeleted */ .chroma .gd { background-color: #ffcccc }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #ff0000 }
/* GenericHeading */ .chroma .gh { color: #2c5dcd; font-weight: bold }
/* GenericInserted */ .chroma .gi { background-color: #ccffcc }
/* GenericOutput */ .chroma .go { color: #aaaaaa }
/* GenericPrompt */ .chroma .gp { color: #2c5dcd; font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #2c5dcd; font-weight: bold }
/* GenericTraceback */ .chroma .gt { color: #c5060b }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #cbcbcb }
