@font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style:  normal;
    font-weight: 400;
    src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2") format("woff2"),
         url("https://rsms.me/inter/font-files/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-display: auto;
    font-style:  normal;
    font-weight: 500;
    src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2") format("woff2"),
         url("https://rsms.me/inter/font-files/Inter-Medium.woff") format("woff");
}

:root {
    --yzl-color-yellow: #FFC805;
    --yzl-color-yellow-low: #FFFBEB;
    --yzl-color-black: #323337;
    --yzl-color-green: #709255;
    --yzl-color-red: #DB4C40;
    --yzl-color-blue: #0496FF;
    --yzl-color-orange: #FC814A;
    --yzl-color-pink: #FBACBE;
}

table::-webkit-scrollbar
{
    width:8px;
    height:8px;
}
table::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 2px rgba(112, 146, 85,0.2);
    border-radius:4px;
    background-color:#E0E8D8;
}
table::-webkit-scrollbar-thumb
{
    border-radius:4px;
    -webkit-box-shadow:inset 0 0 2px rgba(112, 146, 85,0.2);
    background-color: var(--yzl-color-green);
}

body {
    font: 400 16px/1.6 "Inter",source-han-sans-cjk-sc,sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    color: #4c4c4c;
}

a {
    color: #000;
    text-decoration: none;
    word-break: break-word;
}
    a:hover {
        border-bottom: 1.5px solid var(--yzl-color-yellow);
    }

html,button,input,select,textarea {
    color: #333;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border:none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

table {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  margin-bottom: 1rem;
  overflow-x: auto;
}

table th,
table td {
  border-bottom: 1px solid rgba(255,255,255,0.87);
  padding: 0.75rem;
  vertical-align: top;
  text-align: left;
  border-radius: 10px;
}

table thead th {
  border-bottom: 2px solid rgba(255,255,255,0.87);
  vertical-align: bottom;
}

table tbody + tbody {
  border-top: 2px solid rgba(255,255,255,0.87);
}

table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.15);
}

table th {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: var(--yzl-color-black);
  color: #fff;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: var(--yzl-color-black);
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: normal;
    line-height: 1.3em;
}

h1, h2, h3 {
    margin: 30px 0 30px 0;
}

h4, h5, h6 {
    margin: 15px 0 15px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.post ul {
    padding-left: 15px;
    list-style: disc inside;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: block;
    list-style: none;
    margin-left: 0;
}

ul.social-media-list {
    padding-inline-start: 0px;
}

.prevent-collapse {
    min-height: .1rem
}

.smaller {
    font-size: 70%;
}

.post ul li {
    margin-bottom: 2px;
}

.post ol li {
    margin-bottom: 2px;
}

.post ul li p {
    display: inline;
}

div.highlight {
  max-width: 600px;
  max-height: 300px;
  font-size: 14px;
  overflow-y: auto;  /* Vertical scrolling */
  overflow-x: auto;  /* Horizontal scrolling */
}

.highlight pre {
    word-break: break-word;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
}

.highlight {
    background: 0 0;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin-top: 30px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header .avatar {
    float: left;
    margin: -25px 20px 0 0;
}
.header .avatar img {
    width: 64px;
    height: 64x;
    overflow: hidden;
    border-radius: 100%;
}
.header .site-title {
    margin: 0 0 10px 0;
    line-height: 0.2em;
}
    .site-title a {
        color: #333;
        text-decoration: none !important;
    }
    .site-title a:hover {
        border-bottom-width: 0px;
    }

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header nav {
    padding-top: 15px;
}

.header nav ul,
.header nav li {
    margin: 0;
    padding: 0;
}

.header nav li {
    display: inline-block;
    list-style: none;
    margin: 0 30px 0 0;
}

.social-media-list {
    display: table;
    list-style: none;
    margin: 0 auto;
}

.social-media-list li {
    font-size: 18px;
    float: left;
    margin: 0 12px;
}

.social-media-list svg {
    max-height: 15px;
}

.site-visit svg {
    max-height: 12px;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle {
    height: 100%;
}

.header .site-description .scheme-toggle a svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle a.dark svg {
    fill: rgba(255,206,5,0.7);
    color: rgba(255,206,5,0.7);
}

.header .site-description .scheme-toggle a.light svg {
    fill: grey;
    color: black;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.post-header {
    display: flex;
}

.post-header .matter .meta .date.mod {
    color: var(--yzl-color-green);
    background-color: #e1ebe0;
    border-radius: 4px;
}

/* .post-header .matter .meta .busuanzi {
    color: rgba(1,1,1,0.2);
}

.post-header .matter .meta .busuanzi svg {
    max-height: 15px;
} */

.post-header .matter .meta .date {
    font: 400 15px/1.6 "Inter","Source Han Sans SC","Noto Sans CJK SC",source-han-sans-cjk-sc,sans-serif;
    font-feature-settings: 'kern';
    font-kerning: normal;
    color: #7f7f7f;
}

div.page-visit {
    color: rgba(1,1,1,0.2);
}

.post-header .meta {
    margin-bottom: 5px;
    margin-left: 0;
}

.post-header h1.title {
    font-size: 1.4em;
    margin: -10px 0 0 0;
}

.post .title.small {
    margin: -10px 0 0 0;
}
.post .post-header {
    margin-bottom: 5px;
}

.post .draft-label {
    color: var(--yzl-color-yellow);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post .tags a {
    display: inline-block;
    border: 2px solid var(--yzl-color-yellow);
    border-radius: 10px;
    background-color: var(--yzl-color-yellow-low);
    padding: 0px 6px;
    color: var(--yzl-color-yellow);
    line-height: 20px;
    font-weight: 500;
    font-size: 0.85em;
    text-decoration: none;
    margin-right: 0px;
}

div.meta .tags ul > li{
    display: inline-block;
    margin-right: 3px;
}

.tag-cloud a {
    display: inline-block;
    border: 2px solid var(--yzl-color-yellow);
    border-radius: 20px;
    background-color: var(--yzl-color-yellow-low);
    padding: 0px 10px 6px 10px;
    color: var(--yzl-color-yellow);
    line-height: 20px;
    font-weight: 500;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 10px 0;
}

.tag-cloud {
    margin-top: 20px;
}

.footer {
    text-align: center;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    margin-top: 40px;
    padding: 15px 0;
}
    .footer a {
        color: var(--yzl-color-black);
    }
    .footer a:hover {
        color: var(--yzl-color-yellow);
    }

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

@media (max-width: 900px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }

    .header .nav.social li {
        margin: 0;
    }
    .header .nav li {
        margin: 0 10px 0 0;
        font-size: 0.875em;
    }

    table {
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
      display: block;
      overflow-x: auto;
      width: 100%;
    }
}

.sidebar ul {
    padding-left: 1em;
    list-style: disc outside;
}

.sidebar ul ul {
    list-style: circle outside;
}

.sidebar li {
    font-size: 14px;
}

.sidebar h4 {
    font-weight: normal;
}

@media screen and (min-width: 900px) {
    .sidebar {
        display: block;
        float: right;
        position: sticky;
        width: 180px;
        top: 90px;
        /* background: rgba(0,0,0,0.05); */
        /* border-radius: 10px; */
        /* border-style: solid; */
        /* border-color: rgba(255, 200, 5, 0.5); */
        /* padding: 5px; */
    }
    .sidebar a {
        color: #4c4c4c;
    }
    .post {
        max-width: calc(100% - 180px - 30px);
    }
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

code {
    font-family: "JetBrainsMono", monospace;
    /* background: #f0f0f0; */
    /* border-radius: 3px; */

    /* Fixes iOS font sizing anomaly */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}