[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/yzlnew/hexo-theme-apollo.git
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/yzlnew/hexo-theme-tranquilpeak.git
