.content .front-matter .page-heading {
    font-size: 20px;
    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    letter-spacing: -0.005rem;
    font-weight: 700;
    color: #333;
    text-transform: none !important;
    margin-bottom: 16px;
}

a {
    color: #3087CE
}

a:hover {
    color: #F1C938
}