<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}
        {{ if .Params.toc | default true }}
        <div class="sidebar">
            <h4>{{ i18n "table_of_contents" }}</h4>
            {{.TableOfContents}}
        </div>
        {{ end }}
		<div class="post">
            <article>
			<div class="post-header">
				<div class="matter">
					<h1 class="title">{{ .Title }}</h1>
                    <div class="meta">
                        <span class="date">{{ dateFormat "2006-01-02" .Date }}</span>
                        {{ if gt .Lastmod .Date }}
                        <span class="date mod">+ {{ i18n "recent_modified" }} {{ dateFormat "2006-01-02" .Lastmod }}</span>
                        {{ end }}
                        <div class="tags">
                            {{ if ne .Type "page" }}
                                {{ if gt .Params.tags 0 }}
                                    <ul class="flat">
                                        {{ range .Params.tags }}
                                        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                                        {{ end }}
                                    </ul>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
				</div>
			</div>
            </article>


			<div class="markdown">
				{{ .Content }}
			</div>

            {{ if .Site.Params.utter }}
                {{ partial "comment.html" . }}
            {{ end }}

			{{- if .Site.Config.Services.Disqus.Shortname -}}
			{{- $.Scratch.Set "isDisqus" true -}}

			{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
				{{- $.Scratch.Set "isDisqus" false -}}
			{{- end -}}

			{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
				{{- $.Scratch.Set "isDisqus" false -}}
			{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
				{{- $.Scratch.Set "isDisqus" true -}}
			{{- end -}}

			{{- if eq ($.Scratch.Get "isDisqus") true -}}
			{{- partial "disqus.html" . -}}
			{{- end -}}
			{{- end -}}
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
