<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark") -}}class="dark"{{ end }}>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="recent-posts section">
			<div class="posts">
				{{ $pages := where .Site.RegularPages.ByLastmod.Reverse "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
					<div class="post">
						<div class="post-header">
							<div class="matter">
								<h4 class="title small">
									<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
								</h4>
                                <div class="meta">
                                    <span class="date">{{ dateFormat "2006-01-02" .Date }}</span>
                                    {{ if gt .Lastmod .Date }}
                                    <span class="date mod">+ {{ i18n "recent_modified" }} {{ dateFormat "2006-01-02" .Lastmod }}</span>
                                    {{ end }}
                                <div class="tags">
                                    {{ if ne .Type "page" }}
                                        {{ if gt .Params.tags 0 }}
                                            <ul class="flat">
                                                {{ range .Params.tags }}
                                                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                                                {{ end }}
                                            </ul>
                                        {{ end }}
                                    {{ end }}
                                </div>
                                </div>
                                    <span class="description">
                                        {{ if isset .Params "description" }}
                                            {{ .Description }}
                                        {{ else }}
                                            {{ .Summary | plainify | htmlUnescape }}
                                        {{ end }}
                                    </span>
                            </div>
						</div>
					</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
